@model IPageViewModel<SitePageData>

@{ Layout = "~/Views/Shared/Layouts/_Root.cshtml"; }

@{await Html.RenderPartialAsync("Breadcrumbs", Model);}

<div class="prose min-w-full px-3">
    @RenderBody()
    @RenderSection("RelatedContent", false)
</div>

