@using AlloyTemplates
@model IPageViewModel<SitePageData>
@{ Layout = "~/Views/Shared/Layouts/_Root.cshtml"; }

@{await Html.RenderPartialAsync("Breadcrumbs");}

<div class="prose min-w-full">
    @RenderBody()

    @if (IsSectionDefined("RelatedContent"))
    {
        @RenderSection("RelatedContent")
    }
    else if (Model.CurrentPage is IHasRelatedContent)
    {
        @Html.PropertyFor(x => ((IHasRelatedContent)x.CurrentPage).RelatedContentArea, new { CssClass = "row", Tag = Global.ContentAreaTags.OneThirdWidth })
    }
</div>
